<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title text-center>
      Roomies
      <ion-icon name="home-outline"></ion-icon>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-gradient" fullscreen="true">
    
  
  <ion-list *ngIf="info">
    <ion-item>
      <ion-label>
        {{ info.nombre }} {{ info.apellido }} 
      </ion-label>
      <ion-icon slot="end" name="create"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        {{ info.edad }}
      </ion-label>
      <ion-icon (click)="alertaEditar()" slot="end" name="create"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        {{ info.genero }}
      </ion-label>
      <ion-icon slot="end" name="create"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        {{ info.comuna }}
      </ion-label>
      <ion-icon slot="end" name="create"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        {{ info.photos }}
      </ion-label>
      <ion-icon slot="end" name="create"></ion-icon>
    </ion-item>
  </ion-list>
  
  

  <!-- <ion-grid>
    <h1>Galería</h1>
    <div class="gallery">
      <ion-row class="gallery-row">
        <ion-col size="6" *ngFor="let photo of photos; let i = index" class="gallery-col">
          <ion-card>
            <ion-img [src]="photo" class="ion-img"></ion-img>
            <ion-button color="danger" (click)="deletePhoto(photo, i)">Eliminar</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

    <ion-item>
      <input type="file" (change)="uploadPhoto($event)" accept="image/*" />
    </ion-item>

    <ion-button (click)="tomarFoto()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-button>
    
    <ion-button expand="block" color="primary" (click)="saveProfile()">Guardar Perfil</ion-button>
  </ion-grid> -->
</ion-content>



